
export SPIFFSGEN=~/Documents/github/esp-idf/components/spiffs/spiffsgen.py
export PARTTOOL=~/Documents/github/esp-idf/components/partition_table/parttool.py
export ESPTOOL=~/Documents/github/esptool/esptool.py
